Ask questions for clarification instead of making assumptions.
Ensure all relevent code is thoroughly reviewed.
Avoid removing code unrelated to the changes you wish to make.
When working with React code, keep typescript types in mind when making changes.
